.container {
  display: flex;
}

.aside {
  background-color: #1e1e21;
  width: 300px;
  height: 100vh;
}

aside svg {
  margin-left: 80%;
  margin-top: 10px;
}

.input-search {
  border: none;
  border-radius: 50px;
  height: 30px;
  width: 200px;
  margin-left: 7%;
  margin-top: 15px;
  background-color: #62626c;
  color: white;
  padding-left: 20px;
}

.input-search::placeholder {
  color: white;
}

.ul-genres {
  margin-top: 40px;
}

.list-genres {
  margin-top: 15px;
  margin-left: 10px;
}

.button-gender-name {
  width: 225px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #4d4d56;
  color: white;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #2f2f33;
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  margin-top: 30px;
  text-align: center;
}

.div-options {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

p {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.search {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
}

.stations {
  width: 750px;
  height: 410px;
  margin-left: 180px;
  margin-top: 30px;
  background-color: #4d4d56;
  display: flex;
  border-radius: 20px;
}

.name-station {
  font-size: 25px;
  font-weight: bolder;
  padding-top: 30px;
}

.list-station {
  margin-top: 80px;
  position: absolute;
  margin-left: 5px;
}

.list-radios {
  background-color: #62626c;
  margin-top: 10px;
  width: 740px;
  height: 50px;
  display: flex;
}

.title-radios-name {
  background-color: #62626c;
  font-size: 25px;
  border: none;
  font-weight: bolder;
  padding-top: 3px;
}

.button-play {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #00000080;
  margin-top: 10px;
  margin-left: 20px;
}

.infos {
  margin-left: 20px;
}

.icon-play {
  margin-left: 6px;
  margin-top: 5px;
}

.icons-edit {
  margin-left: 650px;
  margin-top: 10px;
  position: absolute;
}

.icon-pen {
  padding-right: 20px;
}
